################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FC.Microservices
/FC.Microservices.Tests/bin/Debug/net7.0
/FC.Microservices.Tests/obj
FCVirtualMachine/bin/Debug/net7.0/Microsoft.AspNetCore.JsonPatch.dll
FCVirtualMachine/bin/Debug/net7.0/FCMicroservices.dll
FCVirtualMachine/bin/Debug/net7.0/FCMicroservices.pdb
FCVirtualMachine/bin/Debug/net7.0/FCVirtualMachine.dll
FCVirtualMachine/bin/Debug/net7.0/Google.Api.CommonProtos.dll
FCVirtualMachine/bin/Debug/net7.0/Google.Protobuf.dll
FCVirtualMachine/bin/Debug/net7.0/Grpc.AspNetCore.Server.dll
FCVirtualMachine/bin/Debug/net7.0/Grpc.AspNetCore.Server.Reflection.dll
FCVirtualMachine/bin/Debug/net7.0/Grpc.Core.Api.dll
FCVirtualMachine/bin/Debug/net7.0/Grpc.Net.Common.dll
FCVirtualMachine/bin/Debug/net7.0/Grpc.Reflection.dll
FCVirtualMachine/bin/Debug/net7.0/Microsoft.AspNetCore.Grpc.HttpApi.dll
FCVirtualMachine/bin/Debug/net7.0/Microsoft.AspNetCore.Grpc.JsonTranscoding.dll
FCVirtualMachine/bin/Debug/net7.0/Microsoft.AspNetCore.Grpc.Swagger.dll
FCVirtualMachine/bin/Debug/net7.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
FCVirtualMachine/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
FCVirtualMachine/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
FCVirtualMachine/bin/Debug/net7.0/Microsoft.OpenApi.dll
FCVirtualMachine/bin/Debug/net7.0/Newtonsoft.Json.dll
FCVirtualMachine/bin/Debug/net7.0/NJsonSchema.CodeGeneration.CSharp.dll
FCVirtualMachine/bin/Debug/net7.0/NJsonSchema.CodeGeneration.dll
FCVirtualMachine/bin/Debug/net7.0/NJsonSchema.dll
FCVirtualMachine/bin/Debug/net7.0/OpenTelemetry.Api.dll
FCVirtualMachine/bin/Debug/net7.0/OpenTelemetry.dll
FCVirtualMachine/bin/Debug/net7.0/OpenTelemetry.Exporter.Jaeger.dll
FCVirtualMachine/bin/Debug/net7.0/OpenTelemetry.Extensions.Hosting.dll
FCVirtualMachine/bin/Debug/net7.0/OpenTelemetry.Instrumentation.AspNetCore.dll
FCVirtualMachine/bin/Debug/net7.0/OpenTelemetry.Instrumentation.GrpcNetClient.dll
FCVirtualMachine/bin/Debug/net7.0/OpenTelemetry.Instrumentation.Http.dll
FCVirtualMachine/bin/Debug/net7.0/OpenTelemetry.Instrumentation.SqlClient.dll
FCVirtualMachine/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
FCVirtualMachine/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
FCVirtualMachine/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
Pack.01/bin/Debug/net7.0/Pack.01.dll
/FCVirtualMachine/obj
Pack.01/obj/project.nuget.cache
Pack.01/obj/project.assets.json
Pack.01/obj/Pack.01.csproj.nuget.g.targets
Pack.01/obj/Pack.01.csproj.nuget.g.props
Pack.01/obj/Pack.01.csproj.nuget.dgspec.json
